ul, li {
  list-style: none;
}

.home-votes {
  margin: 14px;
}

.total {
  font-weight: bold;
}

.annotation-result {
  margin-top: 10px;
}

.annotation-result ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.annotation-result li {
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  line-height: 10px;
  border-radius: 2px;
  margin: 4px;
  margin-bottom: 4px;
}

.annotation-result .total {
  font-size: 14px;
}


th{
  text-align: center;
}

tr td span{
  font-weight: bold;
  color: #e74c3c;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
