* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.main-accordion {
  width: 100%;
}
.main-accordion .title {
  color: #fff;
  background: #c80e3d;
  text-align: center;
  font-weight: 700;
  line-height: 1.2em;
  padding: 1em;
}

.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #c80e3d;
  border-left: 2px solid #c80e3d;
  border-right: 2px solid #c80e3d;
}
.section button.accordion-toggle {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  height: 3em;
  width: 3em;
  outline: 0;
  border: 0;
  background: none;
  text-indent: -9999%;
  pointer-events: none;
}
.section button.accordion-toggle:before {
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  border-radius: .3em;
  background: #ee0c4b;
  transform-origin: 50%;
  top: 50%;
  left: 50%;
  transition: all .25s ease-in-out;
  transform: translate(75%, -50%) rotate(45deg);
}
.section button.accordion-toggle:after {
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  border-radius: .3em;
  background: #ee0c4b;
  transform-origin: 50%;
  top: 50%;
  left: 50%;
  transition: all .25s ease-in-out;
  transform: translate(-75%, -50%) rotate(-45deg);
}

.section.open button.accordion-toggle:before,
.section.open button.accordion-toggle:after {
  height: 14px;
}
.section.open button.accordion-toggle:before {
  transform: translate(0%, -50%) rotate(-45deg);
}
.section.open button.accordion-toggle:after {
  transform: translate(0%, -50%) rotate(45deg);
}
.section.open .articlewrap {
  height: auto;
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.article {
  padding: 1em;
  color: #000;
  line-height: 1.3;
}

.annotation-block {
  display: flex;
}

.annotation-block > div {
  width: 20%;
  display: inline-block;
}

.final-vote-row {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  box-sizing: border-box;
  margin: 2px;
}

.final-vote-row span {
  display: none;
}

.form-group {
  position: relative;
}

/*
Registration
*/
.playersTeam{
  width: 48%;
  margin: 0 1%;
  padding-bottom: 20px;
  float: left;
}

.playerTeamEntry {
    height: 50px;
}

.playerTeamEntry>div{
  width:78%;
  float: left;
}

.playerTeamEntry span{
  display: block;
  width: 20%;
  float: left;
  margin-left: 2%;
}

.playersTeamTitle{
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.playersTeamTitle {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f5f5f5;
    margin: 10px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid #ccc !important;
    height: 34px;
    line-height: 30px;
}

.input-group-addon:last-child {
  border: 1px solid #ccc !important;
}

.annotation.circleBtn{
    width:50px !important;
    height: 50px !important;
}


.circleBtn {
    position: relative;
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circleBtn span {
  font-size: 10px;
  display: block;
}

.circleBtn:active {
    border: 8px solid #ececec;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px 10px rgba(0, 0, 0, 0.19);
}

.resultBox{
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.resultBox.small{
    min-height: 150px;
    max-height: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
}
